*{
    margin: 0px;
    padding: 0px;
  }
  body{
    background: url('background1.jpg');
  }
  h1{
    border: 5px solid #FF341C;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 6px auto 6px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    background: #18DE9F;
    color: #3256FA;
    width: 800px;
  }
  .group {
    margin: 50px auto;
    width: 700px;
    border: 5px solid #FF341C;
    border-radius: 5px;
    padding: 10px;
    background: #D9C96F;
  }

  .group summary{
    margin: 10px ;
    width: 300px;
    color: #483BDB;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }

  .group details summary {
    cursor: pointer;
  }

  .group details summary > *{
    display: inline;
  }

  .group p{
    width: 800px;
    color: rgb(19, 18, 18);
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
  }

  .group details li{
    width: 800px;
    color: rgb(19, 18, 18);
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
  }
  
  #groupmember:hover {
    color: #FF341C;
  }