#conversation {
    margin: 6px auto 6px;
    width: 1200px;
    padding: 6px 12px;
    width: 1000px;
}
  
#conversation p{
  font-family: "Gentium Basic";
  font-size: 19px;
  text-align: left;
  margin-left: 15px;
}


.infor1{
  float: left;
  clear: both;
  padding-bottom: 10px;
}

.infor2{
  padding-bottom: 10px;
  float: right;
  clear: both;
}

  .him{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    background: #9DC3E6;
    color: #1F4E79;
    float: left;
    max-width: 600px;
  }
  
  .me{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    float: right;
    background: #1F4E79;
    color: #9DC3E6;
    max-width: 600px;
  }

  .me a {
    color: #FCBCBC;
  }
  
  .him + .me{
    border-bottom-right-radius: 5px;
  }
  
  
  .me:last-of-type {
    border-bottom-right-radius: 30px;
  }

  #photo1 {
    width: 550px;
  }