*{
    margin: 0px;
    padding: 0px;
  }

body{
  font-family: calibri;
  background-color: #deebf7;
  color: #1f4e79;
}

header{
  border-radius: 0px;
  text-align: center;
  padding: 6px 12px;
  margin: 0px auto 0px;
  font-weight: bold;
  background-color: #1f4e79;
  color: #deebf7;
}


a{
  color:#1f4e79;
}

.titreprincipal{
  font-size: 40px;
  font-weight: bold;
}


.titresecondaire{
  font-size: 25px;
  margin : 10px;
}

.question {
  font-size: 20px;
  font-style: italic;
}

/*barre de navigation */
#navigation {
    margin: 6px auto 6px;
    width: 1200px;
    padding: 6px 12px;
    display: flex;
}

#navigation ul {
    background: #9dc3e6;
    list-style-type: none;
    text-align: center;
    width: 1200px;
  }

#navigation li {
    color: #9dc3e6;
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    position: relative;
}

#navigation a {
    text-decoration: none;
    color: #deebf7;
    display: block;
}
#navigation a:hover {
    background: #1f4e79;
    color: #deebf7;
}

.active {
    background-color: #1f4e79;
}

/*barre de navigation */

#pdf{
  margin: 6px auto 6px;
  width: 1200px;
  padding: 6px 12px;
}

#public_chapitre3{
  text-align: center;
}

.button {
  text-align: left;
}

#ButtonTout {
  position: relative;
  margin-left: 50px;
  background: #FDFDFD;
  color: rgb(5, 5, 5);
  width: 160px;
  height: 40px;
  border: 1px solid #338033;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

#ButtonTout:hover {
  cursor: pointer;
}

section {
  padding-left: 50px;
  padding-right: 50px;
}

#Livres ul {
    list-style-type: disc;
  }
section h1{
  background-color: #FDFDFD;
  padding-left: 5px;
  width: 450px; 
  margin: 10px;
}

.contenu p{
  font-size: 18px;
  text-indent: 20px;
  text-align: justify;
  padding-top: 10px;
}

.contenu sup a{
  color: red;
}

sup{
  color: red;
}

.contenu li{
  font-size: 18px;
  font-size: 18px;
  text-align: justify;
  padding-top: 10px;
}

.contenu a{
  font-size: 18px;
  font-size: 18px;
  text-align: justify;
  padding-top: 10px;
}


/* Footer */

footer{
  display:flex;
  width: auto;
  length: 100px;
  background-color: #1f4e79;
  color : #deebf7;
  padding-top : 25px;
  margin-top: 100%;
  /*edit footer toutjours en bas */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer p{
  font-size : 0.7em;
  text-align: center;
}

footer h1{
  font-size : 0.9em;
  text-align : center;
}

#auteurs {
  padding-left: 50px;
  text-align: left;
}

#liens {
  padding-left: 50px;
  text-align: left;
}

#logoUTC {
  padding-top: 10px;
}


.container {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 120px;
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  justify-items: stretch;
  align-items: center;
  justify-content: stretch;
}

.column2 {
 text-align: center;
}
